<!-- based.html -->
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Intelligent System</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Smart System for tunneling network">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{% static 'main.d810cf0ae7f39f28f336.min.css' %}" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="#">
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        var option = 
        {
        animation : true,
        delay: 3000
        };
        var toasty = (function Toasty(){
            var usr = document.getElementById('id_username').value;
            document.getElementById('toast-container').removeAttribute('hidden'); 
            var toastHTMLElement = document.getElementById('toast-container');
            var toastElement = new bootstrap.Toast (toastHTMLElement, option );
            
            toastElement.show();
            console.log('lalala');
        });
        
        
    </script>
    
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/main.d810cf0ae7f39f28f336.js' %}"></script>
</body>

</html>